.btn-success:hover {
    cursor: pointer;
}

/*Quitar flechas campo número*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

h1 {
  text-align: center;
}

.tituloCoche {
  margin: 0;
  font-weight: 700;
  font-size: 18px;
  color: white;
  background-color: #1f748a;
  padding: 10px;
  text-align: center;
}

.carContainer {
  border: 2px solid #1f748a;
  border-radius: 10px;
  margin: 20px 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.349);
  overflow: hidden;
}

li {
  list-style: none;
  padding: 10px;
  text-align: center;
}

.infoCoche {
  margin: 0;
  padding: 10px;
  background-color: #f3f3f3;
}